In [2]:
import numpy as np
import pandas as pd

In [3]:
#Dataframe'lerde Boş Verileri Silme
#Pandas serilerinde veri silmek için sadece "dropna" metodunu yazmak yeterli. Ancak Dataframe'lerde belirlememiz gereken bazı parametreler var.

In [5]:
df = pd.DataFrame({ 'Sütun A': [1, np.nan, 30, np.nan], 'Sütun B': [2, 8, 31, np.nan], 'Sütun C': [np.nan, 9, 32, 100], 'Sütun D': [5, 8, 34, 110], })

df

   Sütun A  Sütun B  Sütun C  Sütun D
0      1.0      2.0      NaN        5
1      NaN      8.0      9.0        8
2     30.0     31.0     32.0       34
3      NaN      NaN    100.0      110

In [7]:
#Varsayılan olarak "dropna" bir Dataframe'de boş değer içeren tüm satırları silecektir:
df.dropna()

   Sütun A  Sütun B  Sütun C  Sütun D
2     30.0     31.0     32.0       34

In [9]:
#"axis" parametresi default olarak 0 ve bu da satırlar demek oluyor. Bu parametreyi 1 yaparak boş değer içeren sütunları silebiliriz:
df.dropna(axis=1)

   Sütun D
0        5
1        8
2       34
3      110

In [10]:
#"how" parametresi de bir tek boş değer olunca mı silinecek tüm değerler boş olunca mı onu belirler. 
#Varsayılan olarak "any" değeri verilmiştir. 
#Bu değeri "all" yaparak "eğer tüm değerleri boş ise o satırı ya da sütunu sil" komutunu verebiliriz:

In [12]:
 df2 = pd.DataFrame({
'Sütun A': [1, np.nan, 30], 'Sütun B': [2, np.nan, 31], 'Sütun C': [np.nan, np.nan, 100] })

df2

   Sütun A  Sütun B  Sütun C
0      1.0      2.0      NaN
1      NaN      NaN      NaN
2     30.0     31.0    100.0

In [14]:
df2.dropna(how="all")

   Sütun A  Sütun B  Sütun C
0      1.0      2.0      NaN
2     30.0     31.0    100.0

In [17]:
s = pd.Series([1, 2, np.nan, 4, np.nan]) 
s

0    1.0
1    2.0
2    NaN
3    4.0
4    NaN
dtype: float64

In [19]:
# null değerleri 0 sayısı ile dolduralım 
s.fillna(0)

0    1.0
1    2.0
2    0.0
3    4.0
4    0.0
dtype: float64

In [21]:
s.fillna(s.mean())

0    1.000000
1    2.000000
2    2.333333
3    4.000000
4    2.333333
dtype: float64

In [22]:
#"fillna" fonksiyonunda "method" parametresine "ffill" değeri girerek boş değerleri bir önceki değerlerle doldurmasını, 
#"bfill" değeri girerek boş değerleri bir sonraki değerlerle doldurmasını söyleyebiliriz:

In [24]:
s.fillna(method="ffill")

C:\Users\Lala\AppData\Local\Temp\ipykernel_3356\3226383428.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  s.fillna(method="ffill")

0    1.0
1    2.0
2    2.0
3    4.0
4    4.0
dtype: float64

In [26]:
s.fillna(method="bfill")

C:\Users\Lala\AppData\Local\Temp\ipykernel_3356\1815258262.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  s.fillna(method="bfill")

0    1.0
1    2.0
2    4.0
3    4.0
4    NaN
dtype: float64