In [3]:
import numpy as np 
import pandas as pd

In [15]:
# değer null mu diye kontrol ediyoruz 
value = np.nan
pd.isnull(value)

True

In [16]:
pd.notnull(value)

False

In [17]:
# serilerde kontrol edersek fonksiyon da seri döndürür 
pd.isnull(pd.Series([None, 2, np.nan, ""]))

0     True
1    False
2     True
3    False
dtype: bool

In [19]:
pd.isnull(pd.DataFrame({ 'Sütun A': [1, np.nan, 7], 'Sütun B': [np.nan, 2, np.nan] }))

   Sütun A  Sütun B
0    False     True
1     True    False
2    False     True

In [21]:
#Eğer bir matematiksel işlem yapıyorsak Pandas NaN değerleri görmezden gelir ve işlemde hata vermez. 
pd.Series([1, 2, np.nan]).sum()

np.float64(3.0)

In [23]:
#Pandas ile önce boş değerleri bularak sonra da boolean filtreleme yaparak boş değerleri filtreleyebiliriz: 
s = pd.Series([1, 2, np.nan, 4, np.nan]) 
# null olmayan değerleri alalım ve bu değerleri filtreleyelim 
s[pd.notnull(s)]

0    1.0
1    2.0
3    4.0
dtype: float64

In [25]:
#Pandas bize "dropna" adlı metodu ile kolayca boş verilerden kurtulmayı sağlar: 
# boş değerleri atılmış seriyi yazdıralım # (fonksiyonun inplacee parametresine True değerini vermezsek s serisinin değişmeyeceğini unutmayalım.) 
s.dropna()

0    1.0
1    2.0
3    4.0
dtype: float64