In [2]:
import pandas as pd
import numpy as np

In [6]:
#Tekrarlanan Değerler (Duplicates)

elciler = pd.Series([ 'France', 'United Kingdom', 'United Kingdom', 'Italy', 'Germany', 'Germany', 'Germany', ], index=[
'Gérard Araud', 'Kim Darroch', 'Peter Westmacott', 'Armando Varricchio', 'Peter Wittig', 'Peter Ammon', 'Klaus Scharioth ' ])

elciler

Gérard Araud                  France
Kim Darroch           United Kingdom
Peter Westmacott      United Kingdom
Armando Varricchio             Italy
Peter Wittig                 Germany
Peter Ammon                  Germany
Klaus Scharioth              Germany
dtype: object

In [7]:
#"duplicated" metodu bize tekrarlanan değerleri verir. Varsayılan olarak ilk karşılaşılan değerlerden sonra tekrarlanan değerleri bize verir. 
#"keep" parametresine "last" değerini vererek en son değerden önce tekrarlanan değerleri göstermesini de isteyebiliriz:

In [9]:
elciler.duplicated()

Gérard Araud          False
Kim Darroch           False
Peter Westmacott       True
Armando Varricchio    False
Peter Wittig          False
Peter Ammon            True
Klaus Scharioth        True
dtype: bool

In [11]:
elciler.duplicated(keep="last")

Gérard Araud          False
Kim Darroch            True
Peter Westmacott      False
Armando Varricchio    False
Peter Wittig           True
Peter Ammon            True
Klaus Scharioth       False
dtype: bool

In [13]:
elciler.duplicated(keep=False)

Gérard Araud          False
Kim Darroch            True
Peter Westmacott       True
Armando Varricchio    False
Peter Wittig           True
Peter Ammon            True
Klaus Scharioth        True
dtype: bool

In [15]:
#"drop_duplicates" metodu ile bu tekrarlanan değerleri silebiliriz. Aynı şekilde "keep" parametresine değerler atayabiliriz:
elciler.drop_duplicates(keep=False)

Gérard Araud          France
Armando Varricchio     Italy
dtype: object

In [17]:
#"keep" parametresine "first" değerini verirsek tekrarlanan verilerin ilkleri dışındakileri siler:

elciler.drop_duplicates(keep="first")

Gérard Araud                  France
Kim Darroch           United Kingdom
Armando Varricchio             Italy
Peter Wittig                 Germany
dtype: object

In [19]:
#Metin verilerini yani "string" verilerini işlemek ve temizlemek zor olabilir. Çünkü metin verilerinde birçok yanlış ve tutarsızlık olabilir. 
#Yanlış yazım, büyük harf küçük harf farkları, encoding tipleri, aynı değerin farklı şekillerde yazılabilmesi bu yanlış ve tutarsızlıklara örnektir.

In [46]:
df = pd.DataFrame({ 'Veri': [ '1987_E_ABD _1', '1990?_E_ING_1', '1992_K_ABD_2', '1970?_E_ IT_1', '1985_K_I T_2' ]})
df

            Veri
0  1987_E_ABD _1
1  1990?_E_ING_1
2   1992_K_ABD_2
3  1970?_E_ IT_1
4   1985_K_I T_2

In [49]:
#Pandas "str" arayüzü ile string metotlarını kullanmamızı sağlar. "split" metodunu kullanalım:
df["Veri"].str.split("_")

0    [1987, E, ABD , 1]
1    [1990?, E, ING, 1]
2     [1992, K, ABD, 2]
3    [1970?, E,  IT, 1]
4     [1985, K, I T, 2]
Name: Veri, dtype: object

In [51]:
#"expand" parametresini True yaparak parçalanan verileri sütunlara ayırabiliriz:
df["Veri"].str.split("_", expand=True)

       0  1     2  3
0   1987  E  ABD   1
1  1990?  E   ING  1
2   1992  K   ABD  2
3  1970?  E    IT  1
4   1985  K   I T  2

In [70]:
# sütunlara ayıralım 
df = df["Veri"].str.split("_", expand=True) 
# sütun isimlerini değiştirelim 
df.columns = ["Yıl", "Cinsiyet", "Ülke", "Çocuk Sayısı"] 
# dataframe'i yazdıralım 
df

KeyError: 'Veri'

In [55]:
#Verilerde herhangi bir metin ya da karakter bulunuyor mu diye kontrol etmek için "contains" metodunu kullanabiliriz. 
#Örneğin; soru işareti (?) içeren verilere bakalım:
df["Yıl"].str.contains("\?")

0    False
1     True
2    False
3     True
4    False
Name: Yıl, dtype: bool

In [61]:
#"replace" metodu ile bu işaretleri boş string ("") ile değiştirerek silebiliriz:
df["Yıl"] = df["Yıl"].str.replace("\?", "")
df["Yıl"]

0     1987
1    1990?
2     1992
3    1970?
4     1985
Name: Yıl, dtype: object

In [63]:
# " " karakterlerini silelim 
df["Ülke"] = df["Ülke"].str.replace(" ", "") 
# Ülke verilerini yazdıralım 
df["Ülke"]

0    ABD
1    ING
2    ABD
3     IT
4     IT
Name: Ülke, dtype: object

In [64]:
df

     Yıl Cinsiyet Ülke Çocuk Sayısı
0   1987        E  ABD            1
1  1990?        E  ING            1
2   1992        K  ABD            2
3  1970?        E   IT            1
4   1985        K   IT            2